.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/66/90a3d12201c60016132395c1fadbb107
.metadata/version.ini
.metadata/
.project/
.settings/